[initiallyHidden] {
	display: none;
}

* {
	color: #ffffff;
	font-family: Signika, sans-serif;
}

html {
	font-size: 1em;
}

body > * {
	position: relative;
	z-index: 0;
}

body {
	background-image: url(/x/assets/images-large/backgrounds/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	line-height: 1.5rem;
	letter-spacing: 2px;
	font-size: 1.4rem;
	margin: 0;
	padding: 0;
}

section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

a:hover, button:hover {
	cursor: pointer;
}

a {
	font-weight: 600;
	text-decoration: none;
}

h2 {
	color: #202020;
}

p {
	color: #ffffff;
}

/* HEADER */

bp-header {
	position: relative;
	z-index: 2;
}

full-screen-menu-popout {
	position: unset;
}
/* 404 */

#error {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	text-align: center;
	height: 100vh;
	width: 100vh;
}

#error>* {
	width: 100%;
}

#error>a:hover {
	text-decoration: underline #202020 10px;

}

/* MODAL */

image-modal {
	position: relative;
	z-index: 3;
}

/* BRENT WORK */

video {
	width: 700px;
}

.featured_content {
	display: flex;
	justify-content: center;
	width: 100%;
	flex-wrap: wrap;
}

.featured_content h1 {
	width: 100%;
	text-align: center;
}

.project_wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 1em;
	margin-bottom: 1em;
}

.project_wrapper>a {
	width: 100%;
	text-align: center;
}

.project_wrapper>a:hover {
	text-decoration: underline #202020 3px;
}

.project_link {
	color: #ffffff;
}

enlarge-image {
	margin: 0;
}

/* ABOUT */

#about img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border: solid 3px #ffffff;
}

figure {
	margin-top: 0;
}

#about {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0;
	text-align: center;
	margin-bottom: 5em;
}

#about div {
	width: 100%;
}

#about a {
	color: #202020;
}


/* MEDIA QUERIES */

@media screen and (max-width: 713px) {
	video {
		width: 475px;
	}
  }
