[initiallyHidden] {
	display: none;
}

* {
	color: #ffffff;
	font-family: Signika, sans-serif;
}

html {
	font-size: 1em;
}

body > * {
	position: relative;
	z-index: 0;
}

body {
	line-height: 1.5rem;
	letter-spacing: 2px;
	font-size: .9rem;
	background-color: #010003;
	margin: 0;
	padding: 0;
}

main {
	margin-left: 3rem;
	margin-right: 3rem;
	margin-bottom: 6em;
}

section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

a:hover, button:hover {
	cursor: pointer;
}

a {
	font-weight: 600;
	color: #009bff;
	text-decoration: none;
}

p {
	color: #989086;
}

/* HEADER */

bp-header {
	position: relative;
	z-index: 2;
}

.title {
	color: #ffffff;
	font-size: 1em;
}

/* 404 */

.error {
	color: #989086;
}

/* MODAL */

image-modal {
	position: relative;
	z-index: 3;
}

/* BRENT WORK */

enlarge-image {
	margin: 0;
}

/* ABOUT */

#about h1 {
	font-weight: 900;
	font-size: 2rem;
}

#about img {
	height: 300px;
	width: 300px;
	border-radius: 50%;
}

#about {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0;
	text-align: center;
}

#about div {
	width: 100%;
}

#about div:nth-of-type(3) {
	margin-top: 4rem;
}
